%nav-style {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
%for-image {
    
    height: 300px;
    width: 250px;
}

%style-anchor {

    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    float: left
    
} 

%p-style {

    text-align: center;
    line-height: 2em;
    text-transform: 2em;
    border-radius: 2em;
    padding: .2em;
    background-color:black;
    color:white;
    
} 

%anchor {

    padding: 20px;
    margin: 15px;
    text-decoration: none;
}
%col-margin {

    margin-top: 30px;
    margin-right: 350px;
}


#btn {
    margin-left: 75px;
    margin-top: 40px;
    
}

nav , {
    @extend %nav-style;
}
a {
    @extend %style-anchor;
}



.castform {
    background-color: #7a8450;
}

  

.braviary-img {

    @extend %for-image;
}






.braviary-body, {
    background-color:#e2d0a1;
}
.brave-nav{
    margin-left: 10px;
}


p {
   
    @extend %p-style;
}

img {
    @extend %for-image;
}
.charizard {
    background-color: gray;
}




.col-p5 {
     @extend %col-margin;
}
.txt-col {
    margin-top: 80px;
    margin-right: 40px;
}
.brave-col {
    margin-top: 70px;
}
.pokedex {
    background-image: url("https://images.pexels.com/photos/1310847/pexels-photo-1310847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}
footer {
    opacity: 0;
}
#charizard-link{
    margin-top: 48px;
}
#braviary-link {
    margin-top: 38px;
}
.col-p5{
    margin-bottom: 15px;
}
.visible{
    opacity: 1;
}
.homefooter img {

    height: 100px;
    width: 50px;
}
.homefooter{
    position: absolute;
    bottom: 0px;
    animation: move 3s infinite;
}
@keyframes move{
    0%{left: 0px;};
    25%{left: 300px};
    50%{left: 900px};

    

}

@media (max-width: 575.98px) { min-width: 570px; }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { min-width: 650px; }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {min-width: 870px; }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {min-width:1170px; }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px)